{% extends 'edit-base.html' %}

{% block title %}Edit A Sleeping Pad{% endblock %}

{% block content %}

<h3>Sleeping Pad Specs</h3>

 Pad Type: 
    <select name="padtype">
        {% for pad_type in pad_types %}
            {% if child.type_code == pad_type.pad_type_code %}
                <option value="{{ pad_type.pad_type_code }}" selected>{{ pad_type.pad_type_name }}</option>
            {% else %}
                <option value="{{ pad_type.pad_type_code }}">{{ pad_type.pad_type_name }}</option>
            {% endif %}
        {% endfor %}
    </select><br>
      <br>

      Best Use: 
    <select name="bestuse">
        {% for best_use in best_uses %}
            {% if child.use_id == best_use.use_id %}
                <option value="{{ best_use.use_id }}" selected>{{ best_use.use_name }}</option>
            {% else %}
                <option value="{{ best_use.use_id }}">{{ best_use.use_name }}</option>
            {% endif %}
        {% endfor %}
    </select><br>
      <br>

    r-value: <input type="text" size="4" maxlength="4" value="{{ child.r_value }}" name="r_val"><br>
    <br>

    Weight (ounces): <input type="text" size="6" maxlength="3" placeholder = "16 oz = 1 lb" value="{{ child.weight }}" name="pad_weight"><br>
    <br>
    
    Length (inches): <input type="text" size="4" maxlength="3" value="{{ child.length}}" name="pad_length"><br>
    <br>

    Width (inches): <input type="text" size="4" maxlength="3" {% if child.width %} value="{{ child.width }}" {% endif %} name="pad_width"><br>
    <br>

{% endblock %} 