{% extends 'base.html' %}

{% block title %}Get a personalized song{% endblock %}

{% block content %}
    <h1>Hi {{ player }}! </h1>
    <form action="/song.json">
        <input type="hidden" name="name" value={{session['user']}}>
        <input type="submit" value="Get a personalized song">
    </form>

    <h1>Here are {{ total_num }} songs about {{ subj }}</h1>

        <ul>
    {% for song in songs %}
        <li> Song:{{ song.get('trackName') }}, Album: {{ song.get('collectionName') }}, Artist: {{ song.get('artistName') }}   </li>
    {% endfor %}

    </ul>


{% endblock %}